<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Dependencies</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h4>Dependency List</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Dependency Name</th>
				<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${!#lists.isEmpty(dataList)}" th:each="data: ${dataList}">
				<td scope="row" th:text="${data.id}"></td>
				<td scope="row" th:text=${data.name}></td>
				<td scope="row" th:text=${data.description}></td>
			</tr>
		</tbody>
</body>
</html>
